<!DOCTYPE html>
<html>
  <head>
    <title>Macbook Pro</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <h1 class="hide">Macbook Pro</h1>
    <header>
      <img src="/images/logo.png" alt="logo">
      <nav>
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </nav>
    </header>    
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>Copyright &copy; 2019 Apple Inc. All rights reserved.</p>
    </footer>
  </body>
</html>
